@model GenExRB.ViewModels.PropertyCreateViewModel
@{
    Layout = "_LayoutDashboard1";
    /*
    LLL
    X
    HHH
    X
    x
    */
}


<!--#navsupportedcon magsugod nav partial start-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Page</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- end sa nav partial -->


<a asp-controller="properties" asp-action="index">back to list of properties</a>
<h3>Properties CRUD</h3>


<form enctype="multipart/form-data" asp-controller="properties" asp-action="create" method="post" class="">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>



    <div class="form-group row">
        <label asp-for="Name" class=""></label>
        <input asp-for="Name" class="" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="Description" class=""></label>
        <input asp-for="Description" class="" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <p>this lets you upload multiple photos</p>
    <div class="">
        <label asp-for="PropertyPictures"></label>
        <div class="custom-file">
            <input asp-for="PropertyPictures" class="form-control custom-file-input" />
            <label class="custom-file-label">Choose File...</label>
        </div>
    </div>


    <div class="">
        <label asp-for="ToiletAndBath" class=""> </label>
        <input asp-for="ToiletAndBath" class="" type="checkbox" />
    </div>

    <div class="">
        <label asp-for="CarPark" class=""> </label>
        <input asp-for="CarPark" class="" type="checkbox" />
    </div>


    <div class="">
        <label asp-for="Featured" class=""> </label>
        <input asp-for="Featured" class="" type="checkbox" />
    </div>

    <div class="">
        <label asp-for="FloorArea" class=""></label>
        <input asp-for="FloorArea" class="" />
    </div>

    <div class="">
        <label asp-for="LotArea" class=""></label>
        <input asp-for="LotArea" class="" />
    </div>

    <div class="">
        <label asp-for="ReservationFee" class=""></label>
        <input asp-for="ReservationFee" class="" />
    </div>
    <!--butangan ni og ajax nga crud sa picture-->
    <!--many fields ang location niya inig pasa sa controller irecreate ang Location object for it-->
    <!-- Location fields to be added-->
    <div class="">
        <label asp-for="StreetAddress" class=""></label>
        <input asp-for="StreetAddress" class="" />
    </div>
    <div class="">
        <label asp-for="City" class=""></label>
        <input asp-for="City" class="" />
    </div>
    <div class="">
        <label asp-for="Zip" class=""></label>
        <input asp-for="Zip" class="" />
    </div>
    <div class="">
        <label asp-for="Brgy" class=""></label>
        <input asp-for="Brgy" class="" />
    </div>



    <div class="">
        <!--bunch of checklist ang Features-->
    </div>

    <div class="">
        <label asp-for="Bedroom" class=""></label>
        <input asp-for="Bedroom" class="" />
    </div>





    <div class="">
        <label asp-for="Price" class=""></label>
        <input asp-for="Price" class="" />
    </div>


    <div class="">
        <label asp-for="Category2" class=""></label>
        <select asp-for="Category2" class="" asp-items="@new SelectList(Enum.GetNames(typeof(Cat2)).ToList()
)">
        </select>
    </div>

    <div class="">
        <label asp-for="Category3" class=""></label>
        <select asp-for="Category3" class="" asp-items="@new SelectList(Enum.GetNames(typeof(Cat3)).ToList()
)">
        </select>
    </div>


    <div class="">
        <label asp-for="Category1" class=""></label>
        <select asp-for="Category1" class="" asp-items="@new SelectList(Enum.GetNames(typeof(Cat1)).ToList()
)">
        </select>
    </div>

    <div class="form-group">



        <ul id="chonchon">
            @for (var i = 0; i < Model.FeatureData.Count; i++)
            {
                <li>
                    <input type="checkbox" asp-for="@Model.FeatureData[i].Value1" />
                    <label asp-for="@Model.FeatureData[i].Value1">@Model.FeatureData[i].Key</label>

                    <!--<input type="hidden" asp-for="@Model.FeatureData[i].Id" />-->
                    <input type="hidden" asp-for="@Model.FeatureData[i].Key" />
                </li>
            }
        </ul>

        <button asp-controller="featureoption" asp-action="index">Add More Feature Options</button>
    </div>






    <!--end/close sa edit-->


    <div><button type="submit">Create</button></div>
    @section Scripts{
        <script>
            $(document).ready(function () {
                console.log('reached');

                $('.custom-file-input').on("change", function () {

                    var fileName = $(this).val().split("\\").pop();

                    $(this).next('.custom-file-label').html(fileName);

                });
            });

        </script>
    }
</form>

