@model PropertyUpdateVM

@{
    Layout = "_LayoutDashboard1";
    /*
    LLL
    X
    HHH
    X
    x
    */

}










<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Page</a>
        </li>
    </ul>
</div>
    </div>
</nav>
<!-- end sa repeating code -->


<p><b>EDIT PROPERTY</b></p>


@*///////////////////////////////////////*@



<form enctype="multipart/form-data" asp-controller="properties" asp-action="update" method="post" class="">
    <div class="row dashboard">





        <div class="col-md-4 col-sm-6 dashboard-panel">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Id" class="" value="@Model.Id" type="hidden" />
            @*amen pref id..
                amen featurepre id.. removed..
            *@

            <div class="form-group row">
                <label asp-for="Name" class=""></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>


            <div class="form-group row">
                <label asp-for="Description" class=""></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <p>You can upload multiple photos.</p>
            <div class="">
                <label asp-for="PropertyPictures"></label>
                <div class="custom-file">
                    <input asp-for="PropertyPictures" class="form-control custom-file-input" />
                    <label class="custom-file-label">Choose File...</label>

                    <span asp-validation-for="PropertyPictures" class="text-danger"></span>
                </div>
            </div>
            @*idisplay diri ang existing photos*@
            <ul>
                @{ if (Model.Photos != null)
                    {
                        @foreach (var photo in Model.Photos)
                        {
                            <li><img style="width:200px" src="/images/properties/@photo.Title" /></li>

                        }

                    }
                }



            </ul>



        </div>

        <div class="col-md-4 col-sm-6 dashboard-panel">
            <div class="">
                <label asp-for="ToiletAndBath" class=""></label>
                <input asp-for="ToiletAndBath" class="form-control" type="checkbox" />
                <span asp-validation-for="ToiletAndBath" class="text-danger"></span>
            </div>

            <div class="">
                <label asp-for="CarPark" class=""></label>
                <input asp-for="CarPark" class="form-control" type="checkbox" />
                <span asp-validation-for="CarPark" class="text-danger"></span>
            </div>

            <div class="">
                <label asp-for="Featured" class=""></label>
                <input asp-for="Featured" class="form-control" type="checkbox" />
                <span asp-validation-for="Featured" class="text-danger"></span>
            </div>

            <div class="">
                <label asp-for="FloorArea" class=""></label>
                <input asp-for="FloorArea" class="form-control" />
                <span asp-validation-for="FloorArea" class="text-danger"></span>
            </div>

            <div class="">
                <label asp-for="LotArea" class=""></label>
                <input asp-for="LotArea" class="form-control" />
                <span asp-validation-for="LotArea" class="text-danger"></span>
            </div>

            <div class="">
                <label asp-for="ReservationFee" class=""></label>
                <input asp-for="ReservationFee" class="form-control" />
                <span asp-validation-for="ReservationFee" class="text-danger"></span>
            </div>
            <!--butangan ni og ajax nga crud sa picture-->
            <!--many fields ang location niya inig pasa sa controller irecreate ang Location object for it-->
            <!-- Location fields to be added-->
            <div class="">
                <label asp-for="LocationId" class=""></label>
                <input asp-for="LocationId" class="" type="hidden" />
            </div>


        </div>

        <div class="col-md-4 col-sm-6 dashboard-panel">

            <div class="">
                <label asp-for="StreetAddress" class=""></label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="City" class=""></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="">
                <label asp-for="Zip" class=""></label>
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="Brgy" class=""></label>
                <input asp-for="Brgy" class="form-control" />
                <span asp-validation-for="Brgy" class="text-danger"></span>
            </div>



            <div class="">
                <!--bunch of checklist ang Features-->
            </div>

            <div class="">
                <label asp-for="Bedroom" class=""></label>
                <input asp-for="Bedroom" class="form-control" />
                <span asp-validation-for="Bedroom" class="text-danger"></span>
            </div>





            <div class="">
                <label asp-for="Price" class=""></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>


        </div> <!--end panel-->


        <div class="col-md-4 col-sm-6 dashboard-panel">


            <div class="form-group">

                @{
                    List<string> cat1List = new List<string>();
                    cat1List.Add("Preselling");
                    cat1List.Add("Preowned");
                    cat1List.Add("New");

                }

                <label asp-for="Category1" class=""></label>
                <select asp-for="Category1" class="" asp-items="@new SelectList(cat1List)">
                </select>
            </div>

            <div class="form-group">

                @{
                    List<string> cat2List = new List<string>();
                    cat2List.Add("HouseAndLot");
                    cat2List.Add("Condo");
                    cat2List.Add("Lot");

                }

                <label asp-for="Category2" class=""></label>
                <select asp-for="Category2" class="" asp-items="@new SelectList(cat2List)">
                </select>
            </div>

            <div class="form-group">

                @{
                    List<string> cat3List = new List<string>();
                    cat3List.Add("Buy");
                    cat3List.Add("Rent");

                }

                <label asp-for="Category3" class=""></label>
                <select asp-for="Category3" class="" asp-items="@new SelectList(cat3List)">
                </select>
            </div>

            @*<div class="form-group">
                    <label for="district">District:</label>
                    <select class="form-control" id="district">

                        <option value="north">north</option>
                        <option value="south">south</option>
                        <option value="cc">cebu city</option>
                        <option value="mandaue">mandaue</option>
                        <option value="lapulapu">lapulapu</option>
                    </select>
                </div>*@


            <div class="form-group">

                @{
                    List<string> districtList = new List<string>();
                    districtList.Add("North");
                    districtList.Add("South");
                    districtList.Add("CebuCity");
                    districtList.Add("Mandaue");
                    districtList.Add("LapuLapu");


                }

                <label asp-for="District" class=""></label>
                <select asp-for="District" class="" asp-items="@new SelectList(districtList)">
                </select>


            </div>


            <div class="form-group row">
                <label asp-for="Lat" class="">Lat</label>
                <input asp-for="Lat" class="form-control" />
                <span asp-validation-for="Lat" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Long" class="">Long</label>
                <input asp-for="Long" class="form-control" />
                <span asp-validation-for="Long" class="text-danger"></span>
            </div>
            <h6>Features:</h6>
            <!-- diri ibutang and mga drop downs -->

            <div class="form-group">



                @{

                    if (Model.FeatureData0 != null)
                    {

                        <ul id="chonchon">
                            @for (var i = 0; i < Model.FeatureData0.Count; i++)
                            {
                                <li>

                                    <label class="" asp-for="@Model.FeatureData0[i].Value1">
                                        @Model.FeatureData0[i].Key



                                    </label>

                                    <input type="checkbox" class="" asp-for="@Model.FeatureData0[i].Value1" />



                                    <!--<input type="hidden" asp-for="@Model.FeatureData0[i].Id" />-->
                                    <input type="hidden" asp-for="@Model.FeatureData0[i].Key" />
                                </li>
                            }
                        </ul>


                    }

                }


                <h6>Features:</h6>
                <!-- diri ibutang and mga drop downs -->

                <div class="form-group">



                    <ul id="chonchon">
                        @{

                            /*
                            x display all options
                            x set them according sa featuer data
                            x so if feature data is equal to feature option, set it instead
                                */

                            if (Model.FeatureData0 != null)
                            {

                                var listfoo = Model.FeatureData0;

                                /*xif wa ni exist ang option sa listfoo, display it

                                x display */


                                @for (var i = 0; i < Model.FeatureData0.Count; i++)
                                {
                                    <li>

                                        <label class="" asp-for="@Model.FeatureData0[i].Value1">
                                            @Model.FeatureData0[i].Key



                                        </label>

                                        <input type="checkbox" class="" asp-for="@Model.FeatureData0[i].Value1" />



                                        <input type="hidden" asp-for="@Model.FeatureData0[i].Key" />
                                    </li>
                                }


                                
                            }
                        }


                    </ul>



                    <button class="btn btn-primary" asp-controller="featureoption" asp-action="index">Add More Feature Options</button>
                </div>


            </div> <!--end panel-->

        </div> <!--close row div-->
        <div><button type="submit" class="btn btn-primary">Create</button></div>
</form>

